.legend-box {
    width: 200px; /* Adjust width to make it smaller than the board */
    height: 200px; /* Set height to make it more square */
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #f9f9f9;
}

h1, h2, p {
    font-family: "Gill Sans", sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
}

